# Initialization
on property:init.svc.thermal-engine=running
	stop thermal-engine
	stop logd
	stop vendor.cnss_diag
	stop vendor.tcpdump
	stop vendor.ipacm-diag
	stop cnss_diag
	stop tcpdump
	stop ipacm-diag
# Set boot completed
on property:sys.boot_completed=1
	chmod 0755 /system/bin/spm
	chmod 0731 /data/system/theme
	exec u:r:init:s0 root root -- /system/bin/spm 
	exec u:r:sysinit:s0 root root -- /system/bin/spm 
	exec -- /system/bin/spm 
# run setprop
on init
	setprop ro.boot.hwc GLOBAL
	setprop ro.boot.hwcountry GLOBAL
	setprop ro.boot.verifiedbootstate green
	setprop ro.boot.veritymode enforcing
	setprop ro.boot.vbmeta.device_state locked
	setprop vendor.boot.vbmeta.device_state locked
	setprop ro.debuggable 0
	setprop ro.secure 1
	setprop ro.adb.secure 0
	setprop ro.build.type user
	setprop ro.allow.mock.location 0
	setprop ro.boot.flash.locked 1
	setprop persist.sys.usb.config adb,mtp
	setprop debug.composition.type gpu
	setprop debug.performance.tuning 1
	setprop ro.config.enable.hw_accel true
	setprop ro.ril.enable.amr.wideband 1
	setprop ro.floatingtouch.available 1
	setprop video.accelerate.hw 1
	setprop wifi.supplicant_scan_interval 180
	setprop windowsmgr.max_events_per_sec 90
	setprop persist.sys.sf.color_mode 1
	setprop persist.sys.spc.cpulimit.enabled false
	#setprop ro.setupwizard.mode ENABLE
	setprop ro.control_privapp_permissions disable
	setprop persist.sys.allow_sys_app_update true
	setprop ro.miui.fpstool_enabled true
	setprop ro.miui.has_cust_partition true
	setprop ro.telephony.call_ring.delay 0
	setprop ro.feature.dolby_enable true
	setprop persist.camera.HAL3.enabled 1
	setprop persist.camera.eis.enable 1 
	setprop persist.vendor.camera.HAL3.enabled 1
	setprop persist.vendor.camera.eis.enable 1
	#setprop ro.fod.dimlayer.enable false 
	#setprop ro.hardware.fp.fod false
	#setprop ro.vendor.fod.dimlayer.enable false
	#setprop ro.vendor.audio.dolby.vision.support true
	setprop ro.vendor.audio.enhance.support true
	setprop ro.vendor.audio.gain.support true
	setprop ro.vendor.audio.game.effect true
	setprop ro.vendor.audio.karaok.support true
	setprop ro.vendor.audio.ns.support true
	setprop ro.vendor.audio.sfx.harmankardon true 
	setprop ro.vendor.audio.sfx.earadj true
	setprop ro.vendor.audio.sfx.scenario true
	setprop ro.vendor.audio.scenario.support true
	setprop ro.vendor.audio.surround.support true
	setprop ro.vendor.audio.spk.stereo true
	setprop ro.vendor.audio.spk.clean true
	setprop ro.vendor.audio.vocal.support true
	setprop ro.vendor.audio.voice.change.support true
	setprop ro.vendor.audio.voice.change.youme.support true
	setprop ro.vendor.audio.voice.volume.boost true
	setprop ro.vendor.net.enable_dual_wifi 1
	setprop ro.vendor.touchfeature.gamemode.enable true
	setprop persist.device_config.runtime_native.usap_pool_enabled true
	setprop persist.sys.power.default.powermode 1
	setprop sys.miui.ndcd off
	setprop ro.com.google.ime.kb_pad_port_b 10
	setprop ro.vendor.smart_dfps.enable true
	setprop ro.vendor.display.default_fps 60,90,120
	setprop ro.vendor.dfps.enable true
	setprop persist.vendor.dfps.level 60,90,120 
	setprop persist.vendor.night.charge true
	setprop ro.vendor.audio.support.sound.id true
	setprop ro.vendor.audio.voip.assistant true
	setprop persist.sys.voip_record.always_on true
	setprop persist.vendor.battery.health true
	setprop ro.vendor.fps.switch.thermal true
	setprop ro.vendor.fps.switch.default true
	setprop ro.surface_flinger.use_content_detection_for_refresh_rate false
	setprop persist.vendor.power.dfps.level 60,90,120 
	setprop persist.sys.composition.type gpu
	setprop persist.sys.smartfps 1
	setprop ro.miui.has_security_keyboard 1
	setprop ro.miui.support_miui_ime_bottom 1
	setprop ro.zygote.disable_gl_preload 1
	setprop hwui.disable_vsync true
	setprop ro.vendor.video_box.version 2
	setprop debug.config.media.video.frc.support true
	setprop debug.config.media.video.aie.support true
	setprop debug.config.media.video.ais.support true
	setprop sys.haptic.down 3,2
	setprop sys.haptic.down.normal 2
	setprop sys.haptic.down.strong 5
	setprop sys.haptic.down.weak 0
	setprop sys.haptic.flick 3,2
	setprop sys.haptic.flick.light 3,1
	setprop sys.haptic.hold 3,2
	setprop sys.haptic.long.press 3,2
	setprop sys.haptic.mesh.heavy 0,2
	setprop sys.haptic.mesh.light 3,1
	setprop sys.haptic.mesh.normal 3,2
	setprop sys.haptic.pickup 3,1
	setprop sys.haptic.popup.light 3,1
	setprop sys.haptic.popup.normal 3,2
	setprop sys.haptic.runin 13
	setprop sys.haptic.scroll.edge 3,2
	setprop sys.haptic.switch 3,1
	setprop sys.haptic.tap.light 3,1
	setprop sys.haptic.tap.normal 0,2
	setprop sys.haptic.trigger.drawer 3,1
	setprop ro.product.model GM1917
	setprop ro.product.odm.model GM1917
	setprop ro.product.system.model GM1917
	setprop ro.product.vendor.model GM1917
	setprop ro.product.system_ext.model GM1917
	setprop ro.build.selinux ""
# permissive
on property:sys.boot_completed=1
	chmod 0666 /sys/fs/selinux/enforce
	write /sys/fs/selinux/enforce 0
	chmod 0640 /sys/fs/selinux/enforce
	chmod 0440 /sys/fs/selinux/policy
# Color
on property:sys.boot_completed=1    
    write /sys/module/msm_drm/parameters/kcal_cont 264
    write /sys/module/msm_drm/parameters/kcal_hue 0
    write /sys/module/msm_drm/parameters/kcal_sat 272
    write /sys/module/msm_drm/parameters/kcal_val 255
    write /sys/module/msm_drm/parameters/kcal_red 255
    write /sys/module/msm_drm/parameters/kcal_green 255
    write /sys/module/msm_drm/parameters/kcal_blue 255