name: REBUILD Rom MIUI
on: 
  workflow_dispatch:
    inputs:
      URL:
        description: 'Hãy điền đường dẫn url của link rom để tải xuống'
        required: true
        default: 'https://bigota.d.miui.com/V14.0.2.0.TKDMIXM/miui_VILIGlobal_V14.0.2.0.TKDMIXM_a419b72ee9_13.0.zip'
      SIZE:
        description: 'Kích cỡ phân vùng super: 8.5GB | 9GB | 9.5GB'
        required: true
        default: '8.5'
        type: choice
        options:
         - 8.5
         - 9
         - 9.5
          
jobs:
  build:
    name: 'Xem quá trình...'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: 'Xem thông báo'
        env:
          URL: ${{ inputs.URL }}
          SIZE: ${{ inputs.SIZE }}
        run: |
          # Rom Rebuild 
          bash .github/Chay.sh    
      - uses: actions/upload-artifact@v3
        with:
          name: RROM_${{ env.TENZ }}
          path: .github/libpy/Flash2in1/*
          retention-days: 3
     
